<div class="accordion-container">
  <dx-accordion  
  [collapsible]="true"
  [multiple]="false"
   #accordion  >
    <dxi-item title="Exportar">
      <!-- Exportar a Excel -->
      <div style="display: flex; gap: 10px;">
      <div>
        <dx-button
          icon="xlsxfile"
          type="default"
          (onClick)="toggleExportMenu('excel')"
        ></dx-button>
        <div *ngIf="exportMenuVisible.excel" class="submenu">
          <dx-button
            text="Exportar Todo"
            (onClick)="exportGrid('excel', false)"
          ></dx-button>
          <dx-button
            text="Exportar Seleccionado"
            (onClick)="exportGrid('excel', true)"
          ></dx-button>
        </div>
      </div>

      <!-- Exportar a PDF -->
      <div>
        <dx-button
          icon="pdffile"
          type="default"
          (onClick)="toggleExportMenu('pdf')"
        ></dx-button>
        <div *ngIf="exportMenuVisible.pdf" class="submenu">
          <dx-button
            text="Exportar Todo"
            (onClick)="exportGrid('pdf', false)"
          ></dx-button>
          <dx-button
            text="Exportar Seleccionado"
            (onClick)="exportGrid('pdf', true)"
          ></dx-button>
        </div>
      </div>
    </div>
    </dxi-item>
  </dx-accordion>
</div>



<div class="container">
  <h2 class="titulo">Gestión de Empresas</h2>
  <div class="button-container">
    <dx-button
      hint="Agregar"
      icon="add"
      type="default"
      stylingMode="contained"
      (onClick)="mostrarPopup()" 
    ></dx-button>
    <dx-button
      name="edit"
      icon="edit"
      hint="Editar"
      type="default"
      stylingMode="contained"
      (onClick)="abrirPopup(empresasGrid.instance.getSelectedRowsData()[0])"
    ></dx-button>
    <dx-button
      name="delete"
      icon="trash"
      hint="Eliminar"
      type="default"
    stylingMode="contained"
      (onClick)="onEliminarClick()"
    ></dx-button>
   
  <dx-data-grid
    #empresasGrid
    [dataSource]="empresas"
    [showBorders]="true"
    [columnAutoWidth]="true"
    [selection]="{ mode: 'multiple' }"
    (onSelectionChanged)="onSelectionChanged($event)"
    [allowColumnReordering]="true"
    [groupPanel]="{visible:true}"
    [grouping]="{autoExpandAll:true}"
    [allowColumnResizing]="true"
    [allowColumnReordering]="true"
  >
  <dxo-scrolling rowRenderingMode="virtual"> </dxo-scrolling>
  <dxo-paging [pageSize]="5"> </dxo-paging>
  <dxo-pager
    [visible]="true"
    [allowedPageSizes]="[5, 10, 'all']"
    [showPageSizeSelector]="true"
    [showInfo]="true"
    [showNavigationButtons]="true">
    >
  </dxo-pager>
  <dxo-header-filter [visible]="true"></dxo-header-filter>
  <dxo-grouping #expand [autoExpandAll]="false"></dxo-grouping>

  <dxo-form labelLocation="top"></dxo-form>
  <dxo-popup [showTitle]="true" title="Actualizar Empresa">
  </dxo-popup>
  
  <dxi-column dataField="EmpresaID" caption="ID"></dxi-column>
  <dxi-column dataField="Nombre" caption="Nombre"></dxi-column>
  <dxi-column dataField="Email" caption="Email"></dxi-column>
  <dxi-column dataField="Telefono" caption="Telefono"></dxi-column>
  <dxi-column dataField="Ciudad" caption="Ciudad" [groupIndex]="0"></dxi-column>
  <dxi-column dataField="Estado" caption="Estado"></dxi-column>
  <dxi-column
    dataField="FechaFundacion"
    caption="Fecha de Fundación"
    dataType="date"
    format="shortDate"
  ></dxi-column>
  </dx-data-grid>

    <dx-popup
      [visible]="isPopupVisible"
      [dragEnabled]="true"
      [showTitle]="true"
      [title]="tituloPopup"
      [width]="500"
      [height]="500"
      (onHiding)="isPopupVisible = false"
    >
      <div *dxTemplate="let data of 'content'" class="popup-content">
        <form>
          <div class="form-group">
            <label>Nombre:</label>
            <dx-text-box [(value)]="currentEmpresa.Nombre"></dx-text-box>
          </div>
          <div class="form-group">
            <label>Correo:</label>
            <dx-text-box [(value)]="currentEmpresa.Email"></dx-text-box>
          </div>
          <div class="form-group">
            <label>Teléfono:</label>
            <dx-text-box [(value)]="currentEmpresa.Telefono"></dx-text-box>
          </div>
          <div class="form-group">
            <label>Ciudad:</label>
            <dx-text-box [(value)]="currentEmpresa.Ciudad"></dx-text-box>
          </div>
          <div class="form-group">
            <label>Estado:</label>
            <dx-text-box [(value)]="currentEmpresa.Estado"></dx-text-box>
          </div>
          <div class="form-group">       
            <label>Fecha de Fundacion:</label>
            <dx-date-box
            [value]="currentEmpresa.FechaFundacion"
            displayFormat="dd/MM/yyyy"
          ></dx-date-box>
          </div> 

          <div class="form-actions">
            <dx-button
              text="Guardar"
              icon="save"
              type="success"
              stylingMode="contained"
              (onClick)="guardarOEditarEmpleado()"
            ></dx-button>
            <dx-button
              text="Cancelar"
              icon="close"
              type="danger"
              stylingMode="outlined"
              (onClick)="cancelarEdicion()"
            ></dx-button>
          </div>
        </form>
      </div>
    </dx-popup>
  </div>

 