.container {
  max-width: 1000px;
  overflow-x: auto;
  margin: 2px;
  padding: 1px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.datagrid-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.datagrid-container {
  max-width: 900px;
  overflow-x: auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 5px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

thead th {
  background-color: #f4f4f4;
  padding: 10px;
  font-weight: bold;
  border-bottom: 2px solid #ddd;
}

/* Título */
.titulo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

/* Botón Agregar Empleado */
.button-container {
  text-align: right;
  margin-bottom: 5px;
  width: 76%;
  
}


tbody td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
}

tbody tr:hover {
  background-color: #f9f9f9;
}


.btn-delete {
  padding: 5px 10px;
  margin-right: 5px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}


.btn-delete {
  background-color: #dc3545;
  color: white;
}

.btn-delete:hover {
  background-color: #c82333;
}

/* Estilo para cada grupo de campos */
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

/* Botones en el popup */
.form-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.form-actions dx-button {
  width: 40%;
  
}
::ng-deep #events #clear {
  float: right;
}

::ng-deep #events {
  background-color: rgba(191, 191, 191, 0.15);
  padding: 20px;
  margin-top: 20px;
}

::ng-deep #events ul li {
  padding: 7px 0;
  border-bottom: 1px solid #c38b8b;
}

::ng-deep #events ul li:last-child {
  border-bottom: none;
}

/* Estilo general del popup */
.dx-popup-wrapper {
  background-color: rgba(0, 0, 0, 0.5); 
}

.dx-popup {
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(73, 23, 153, 0.2); 
}

::ng-deep .dx-popup-title {
  font-weight: bold;
  font-size: 10px;
  color: #ffffff;
  background-color: #0a5282;
}

::ng-deep .dx-popup-content {
  padding: 20px;
  font-family: 'Arial', sans-serif;
  color: #1b3854;
}

/* Botones */
::ng-deep .dx-popup dx-button {
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 10px 20px;
}

::ng-deep  dx-button-default {
  background-color: #10476b;
  color: #fff;
  border: none;
}

::ng-deep dx-button-default:hover {
  background-color: #151187;
}

::ng-deep .dx-popup .dx-button-danger {
  background-color: #e74c3c;
  color: #fff;
  border: none;
}

::ng-deep .dx-popup .dx-button-danger:hover {
  background-color: #c0392b;
}

/* Input */
::ng-deep .dx-texteditor-input {
  font-size: 14px;
  border-radius: 5px;
}



::ng-deep .dx-datebox-popup {
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

#dataGrid {
  margin: 0 auto;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
