<div class="container">
  <h2 class="titulo">Gestión de Empresas</h2>
  <div class="button-container">
    <dx-button
      hint="Agregar"
      icon="add"
      type="default"
      stylingMode="contained"
      (onClick)="agregarEmpresa()"
    ></dx-button>
  
  <dx-data-grid
    [dataSource]="empresas"
    [showBorders]="true"
    [columnAutoWidth]="true"
  >
  <dxo-editing mode="row" [allowDeleting]="true" > </dxo-editing>
   <dxo-editing
      [allowUpdating]="true"
      mode="popup">
      <dxo-form labelLocation="top"></dxo-form>
      <dxo-popup [showTitle]="true" title="Actualizar Empresa">
      
      </dxo-popup>
    </dxo-editing>
    <dxo-paging [enabled]="true" [pageSize]="5"></dxo-paging>
    <dxo-pager
      [showPageSizeSelector]="true"
      [allowedPageSizes]="[5, 10, 20]"
      [showInfo]="true"
    ></dxo-pager>

    <dxi-column dataField="id" caption="ID" [width]="70"></dxi-column>
    <dxi-column dataField="nombre" caption="Nombre"></dxi-column>
    <dxi-column dataField="email" caption="Correo"></dxi-column>
    <dxi-column dataField="telefono" caption="Teléfono"></dxi-column>
    <dxi-column dataField="direccion" caption="Dirección"></dxi-column>
    <dxi-column
      dataField="fechaFundacion"
      caption="Fecha de Fundación"
      dataType="date"
      format="shortDate"
    ></dxi-column>
    <dxi-column type="buttons">
      <dxi-button
        name="edit"
        icon="edit"
        hint="Editar"
        type="default"
      stylingMode="contained"
        (onClick)="editarEmpresa($event)"
      ></dxi-button>
      
      <dxi-button
        name="delete"
        icon="trash"
        hint="Eliminar"
        (onClick)="eliminarEmpresa($event)"
      ></dxi-button>
    </dxi-column>
  </dx-data-grid>

  
  <dx-popup
    [visible]="isPopupVisible"
    [dragEnabled]="true"
    [closeOnOutsideClick]="true"
    [showTitle]="true"
    [title]="isUpdating ? 'Editar Empresa':'Agregar Empresa'"
    [width]="500"
    [height]="500"
    (onHiding)="isPopupVisible = false"
  >
    <div *dxTemplate="let data of 'content'" class="popup-content">
      <form>
        <div class="form-group">
          <label>Nombre:</label>
          <dx-text-box [(value)]="currentEmpresa.nombre"></dx-text-box>
        </div>
        <div class="form-group">
          <label>Correo:</label>
          <dx-text-box [(value)]="currentEmpresa.email"></dx-text-box>
        </div>
        <div class="form-group">
          <label>Teléfono:</label>
          <dx-text-box [(value)]="currentEmpresa.telefono"></dx-text-box>
        </div>
        <div class="form-group">
          <label>Dirección:</label>
          <dx-text-box [(value)]="currentEmpresa.direccion"></dx-text-box>
        </div>
        <div>
          <label>Fecha de Ingreso:</label>
          <dx-date-box
            [(value)]="currentEmpresa.fechaIngreso"
            [type]="'date'"
            displayFormat="dd/MM/yyyy"
          ></dx-date-box>
        </div>
  

        <div class="form-actions">
          <dx-button
            text="Guardar"
            icon="save"
            type="success"
            stylingMode="contained"
            (onClick)="guardarEmpresa()"
          ></dx-button>
          <dx-button
            text="Cancelar"
            icon="close"
            type="danger"
            stylingMode="outlined"
            (onClick)="cancelarEdicion()"
          ></dx-button>
        </div>
      </form>
    </div>
  </dx-popup>
</div>