<div class =" container">
<h2 class="titulo">Gestión de Empresas</h2>

<!-- Botón para agregar empresa -->
<div class="button-container">
  <dx-button
    hint="Agregar"
    icon="add"
    type="default"
    stylingMode="contained"
    (onClick)="agregarEmpresa()"
  ></dx-button>
</div>

<!-- Contenedor del DataGrid -->
<div class="datagrid-wrapper">
  <div class="datagrid-container">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Correo</th>
          <th>Teléfono</th>
          <th>Dirección</th>
          <th>Fecha de Fundación</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <!-- Aquí se renderizan dinámicamente las filas de datos -->
        <tr *ngFor="let empresa of empresas">
          <td>{{ empresa.id }}</td>
          <td>{{ empresa.nombre }}</td>
          <td>{{ empresa.email }}</td>
          <td>{{ empresa.telefono }}</td>
          <td>{{ empresa.direccion }}</td>
          <td>{{ empresa.fechaFundacion | date: 'shortDate' }}</td>
          <td>
            <dx-button
              hint="editar"
              icon="edit"
              type="default"
              stylingMode="contained"
              (click)="editarEmpresa($event)">
              
            </dx-button>
            <button class="btn-delete" 
              hint="eliminar"
              icon="delete"
              type="default"
              (click)="eliminarEmpresa(empresa)">
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
  <!-- Popup para agregar/editar empresa -->
  <dx-popup
    [visible]="isPopupVisible"
    [dragEnabled]="true"
    [closeOnOutsideClick]="true"
    [showTitle]="true"
    [title]="isUpdating ? 'Editar Empresa' : 'Agregar Empresa'"
    [width]="500"
    [height]="500"
    (onHiding)="isPopupVisible = false"
  >
    <div *dxTemplate="let data of 'content'" class="popup-content">
      <form>
        <div class="form-group">
          <label>Nombre:</label>
          <dx-text-box [(value)]="currentEmpresa.nombre"></dx-text-box>
        </div>
        <div class="form-group">
          <label>Correo:</label>
          <dx-text-box [(value)]="currentEmpresa.email"></dx-text-box>
        </div>
        <div class="form-group">
          <label>Teléfono:</label>
          <dx-text-box [(value)]="currentEmpresa.telefono"></dx-text-box>
        </div>
        <div class="form-group">
          <label>Dirección:</label>
          <dx-text-box [(value)]="currentEmpresa.direccion"></dx-text-box>
        </div>
        <div>
          <label>Fecha de Fundación:</label>
          <dx-date-box
            [(value)]="currentEmpresa.fechaFundacion"
            [type]="'date'"
            displayFormat="dd/MM/yyyy"
          ></dx-date-box>
        </div>

        <div class="form-actions">
          <dx-button
            text="Guardar"
            icon="save"
            type="success"
            stylingMode="contained"
            (onClick)="guardarEmpresa()"
          ></dx-button>
          <dx-button
            text="Cancelar"
            icon="close"
            type="danger"
            stylingMode="outlined"
            (onClick)="cancelarEdicion()"
          ></dx-button>
        </div>
      </form>
    </div>
  </dx-popup>
