.logo {
    max-width: 80px; 
    margin-bottom: 1px; 
    border-radius: 100px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

h2 {
  text-align: center;
  margin: 0.3; 
  color: #333!important;
  font-size: 1.6rem; 
}
  
.auth-container {
  max-width: 300px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #0e70cc!important;
  border-radius: 10px;
  background-color: #f7f9fc !important;
  color: #000 !important;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1)!important;
  display: flex;
  flex-direction: column;
  align-items: center;   }

.dx-text-box {
  width: 100%;
  margin-bottom: 18px;
  color: #333!important;
}

.dx-field-item-label {
  font-weight: bold;
}
p {
  font-family: 'Arial', sans-serif;
  color: #333!important;
}

dx-button {
  width: 80%;
}

.auth-link {
  text-align: center;
  margin-top: 10px;
}

.auth-link a {
  color: #007bff!important;
  text-decoration: none;
}

.auth-link a:hover {
  text-decoration: underline!important;
}

