<div class="auth-container">
    <img src = "assets/images/icon/icon.jpg" alt = "Logo" class ="logo">

    <h2> Registro</h2>

        <dx-form
            [formData]="registerForm.value"
            [colCount]="1"
            labelLocation="top"
            (ngSubmit)="onSubmit()"
            
        >
        <!-- Nombre -->
        <dxi-item
        dataField="Nombre"
        editorType="dxTextBox"
        [editorOptions]="{ placeholder: 'Nombre', maxLength: 30  }"
        ></dxi-item>

        <!-- Apellido -->
        <dxi-item
        dataField="Apellido"
        editorType="dxTextBox"
        [editorOptions]="{ placeholder: 'Apellido', maxLength: 30  }"
        ></dxi-item>

        <!-- Email -->
        <dxi-item
        dataField="Email"
        editorType="dxTextBox"
        [editorOptions]="{ mode: 'email', placeholder: 'Email' }"
        ></dxi-item>

        <!-- Contraseña -->
        <dxi-item
        dataField="Contrasena"
        editorType="dxTextBox"
        [editorOptions]="{ mode: 'password', placeholder: 'Contrasena' }"
        ></dxi-item>

       
        <!-- Género -->
        <dxi-item
        dataField="Genero"
        editorType="dxSelectBox"
        [editorOptions]="{ items: genders, placeholder: 'Seleccione Genero', valueExpr: null}"
        ></dxi-item>

        <!-- Fecha de nacimiento -->
        <dxi-item
        dataField="FechaNacimiento"
        editorType="dxDateBox"
        [editorOptions]="{ displayFormat: 'yyyy-MM-dd', placeholder: 'Fecha de Nacimiento',type: 'date' }"
        ></dxi-item>

        <!-- Botón de registro -->
        <dxi-item>
        <dx-button
            text="Register"
            icon="user"
            type="success"
            [useSubmitBehavior]="true"
            (onClick)="onSubmit()"
        ></dx-button>
        <p class="auth-link">
            ¿Ya tienes cuenta? <a routerLink=""> <i class="fa fa-power-off"> </i>Iniciar Sesion </a>
        </p>
    </dxi-item>
</dx-form>
</div>