<div class="conocenos-container">
    <!-- Imagen en la parte superior -->
    <div class="image-container">
      <img src="assets/images/crm/S2.png" alt="Conócenos" class="conocenos-image" />
    </div>
  
    <!-- Contenido de la pantalla -->
    <div class="content-container">
      <section class="section">
        <h2>Visión</h2>
        <p>
          En el futuro, seremos la plataforma líder en soluciones de gestión empresarial,
           impulsando la eficiencia, la comunicación y el crecimiento de las empresas mediante 
           la integración de tecnología avanzada y un enfoque centrado en el cliente.
        </p>
      </section>
  
      <section class="section">
        <h2>Misión</h2>
        <p>
          Nuestra misión es ofrecer soluciones tecnológicas innovadoras que optimicen la administración de empresas,
           mejoren la productividad de los empleados y contribuyan al desarrollo continuo de las organizaciones a través
            de herramientas intuitivas y accesibles.
        </p>
      </section>
  
      <section class="section">
        <h2>Historia</h2>
        <p>
          Fundada en 2010, nuestra empresa nació con el objetivo de transformar la manera en que las empresas gestionan 
          sus recursos y relaciones. A lo largo de los años, hemos crecido y evolucionado, adoptando las mejores prácticas 
          y tecnologías emergentes para ofrecer productos que hacen que las empresas sean más ágiles, inteligentes y competitivas
           en un entorno de rápido cambio.
        </p>
      </section>
    </div>
  </div>