
/* Contenedor principal para los DataGrids */
.datagrid-container {
  display: flex;
  flex-direction: row; /* Dirección horizontal */
  gap: 7px; /* Espacio entre los DataGrids */
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  height: 60%;
  overflow-x: auto; /* Barra de desplazamiento horizontal si es necesario */
  overflow-y: hidden; /* Ocultar la barra de desplazamiento vertical */
  position: relative; /* Necesario para posicionar los botones en la parte inferior */
}

/* Estilo para el DataGrid */ 
dx-data-grid {
  flex: 1; /* Permitir que el DataGrid ocupe el espacio disponible */
  min-width: 300px; /* Ancho mínimo para evitar que se colapse demasiado */
  max-width: 50%; /* Ancho máximo */
  height: 65%;
  overflow: auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  border: 1px solid #dee2e6;
}


.dx-datagrid-header-panel {
  background-color: #d3dfec;
  color: rgb(254, 254, 254);
}

.dx-datagrid-rowsview .dx-row:hover {
  background-color: #164169;
}

.dx-datagrid-rowsview .dx-data-row {
  transition: background-color 0.3s;
}

.dx-datagrid-pager {
  margin-top: 40px;
}

/* Contenedor envolvente de los botones */
.button-wrapper {
  display: flex;
  padding: 8px 16px; /* Espaciado interno alrededor de los botones */
  justify-content: flex-start; /* Alinea el contenedor a la izquierda */
  align-items: center; /* Alinea los elementos verticalmente al centro */
  background-color: #f1f1f1; /* Color de fondo del contenedor */
  border-radius: 8px; /* Bordes redondeados */
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Sombra sutil para profundidad */
  margin-bottom: 20px; /* Margen inferior para separar de otros elementos */
}

/* Contenedor de los botones */
.button-container {
  display: flex;
  flex-direction: row; /* Los botones se alinean horizontalmente */
  justify-content: flex-start; /* Alinea los botones al lado izquierdo */
  gap: 5px; /* Espaciado más amplio entre botones */
}

/* Estilo de los botones */
dx-button {
  border-radius: 4px; /* Bordes redondeados */
  transition: background-color 0.3s, transform 0.2s; /* Transiciones suaves para los botones */
}

dx-button:hover {
  background-color: #e0e0e0; /* Fondo más oscuro al pasar el mouse */
  transform: translateY(-2px); /* Sutil efecto de elevación al pasar el mouse */
}

dx-button:focus {
  outline: none; /* Elimina el contorno del botón al hacer foco */
  box-shadow: 0 0 5px rgba(0, 0, 255, 0.2); /* Agrega una sombra suave al enfocar */
}



/* Botones en el popup */
.form-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.form-actions dx-button {
  width: 48%;
  
}
::ng-deep #events #clear {
  float: right;
}

::ng-deep #events {
  background-color: rgba(191, 191, 191, 0.15);
  padding: 20px;
  margin-top: 20px;
}

::ng-deep #events ul li {
  padding: 7px 0;
  border-bottom: 1px solid #c38b8b;
}

::ng-deep #events ul li:last-child {
  border-bottom: none;
}

/* Estilo general del popup */
.dx-popup-wrapper {
  background-color: rgba(0, 0, 0, 0.5); 
}

.dx-popup {
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(73, 23, 153, 0.2); 
}

::ng-deep .dx-popup-title {
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
  background-color: #0a5282;
  padding: 10px;
}

::ng-deep .dx-popup-content {
  padding: 20px;
  font-family: 'Arial', sans-serif;
  color: #1b3854;
}

/* Botones */
::ng-deep .dx-popup dx-button {
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 10px 20px;
}

::ng-deep  dx-button-default {
  background-color: #10476b;
  color: #fff;
  border: none;
}

::ng-deep dx-button-default:hover {
  background-color: #29b959;
}

::ng-deep .dx-popup .dx-button-danger {
  background-color: #e74c3c;
  color: #fff;
  border: none;
}

::ng-deep .dx-popup .dx-button-danger:hover {
  background-color: #c0392b;
}

/* Input */
::ng-deep .dx-texteditor-input {
  font-size: 14px;
  border-radius: 5px;
}

::ng-deep .dx-datebox-popup {
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

/* Botones */
dx-button {
  margin-left: 10px;
}


dx-button[type='default'] {
  background-color: #007bff;
  color: #ffffff;
  border-radius: 5px;
}

dx-button[type='danger'] {
  background-color: #dc3545;
  color: #ffffff;
  border-radius: 5px;
}

dx-button[type='success'] {
  background-color: #28a745;
  color: #ffffff;
  border-radius: 5px;
}

dx-button:hover {
  opacity: 0.9;
}


/* Accordion */

::ng-deep #accordion {
  padding: 7px;
  border: 1px solid #084c95;
  border-top: none;
  border-radius: 0 0 8px 8px;
  background-color: #164471;
  transition: background-color 0.3s ease;
}

::ng-deep #accordion-container {
  margin: 20px;
  

}


::ng-deep #accordion-button {
  display: inline-block;
  margin: 2px;
  padding: 8px 16px;
  background-color: #18075c;
  color: rgb(143, 145, 241);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#accordion-button:hover {
  background-color: #31068d;
}

export-buttons-container {
  display: flex;
  gap: 10px; /* Espacio entre los botones */
  background-color: #31068d;

}

#accordion-submenu {
  margin-left: 20px;
  margin-top: 10px;

}
