/* Contenedor principal */
.container {
  margin: 7px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
}

/* Título */
.titulo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: #065e98;
  text-align: center;
  border-bottom: 2px solid #007bff;
  padding-bottom: 10px;

}

/* Botón Agregar Empleado */
.button-container {
  text-align: right;
  margin-bottom: 20px;
  
}

/* Botones en el popup */
.form-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.form-actions dx-button {
  width: 48%;
  
}
::ng-deep #events #clear {
  float: right;
}

::ng-deep #events {
  background-color: rgba(191, 191, 191, 0.15);
  padding: 20px;
  margin-top: 20px;
}

::ng-deep #events ul li {
  padding: 7px 0;
  border-bottom: 1px solid #c38b8b;
}

::ng-deep #events ul li:last-child {
  border-bottom: none;
}

/* Estilo general del popup */
.dx-popup-wrapper {
  background-color: rgba(0, 0, 0, 0.5); 
}

.dx-popup {
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 4px 8px rgba(73, 23, 153, 0.2); 
}

::ng-deep .dx-popup-title {
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
  background-color: #0a5282;
  padding: 10px;
}

::ng-deep .dx-popup-content {
  padding: 20px;
  font-family: 'Arial', sans-serif;
  color: #1b3854;
}

/* Botones */
::ng-deep .dx-popup dx-button {
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 10px 20px;
}

::ng-deep  dx-button-default {
  background-color: #10476b;
  color: #fff;
  border: none;
}

::ng-deep dx-button-default:hover {
  background-color: #29b959;
}

::ng-deep .dx-popup .dx-button-danger {
  background-color: #e74c3c;
  color: #fff;
  border: none;
}

::ng-deep .dx-popup .dx-button-danger:hover {
  background-color: #c0392b;
}

/* Input */
::ng-deep .dx-texteditor-input {
  font-size: 14px;
  border-radius: 5px;
}

::ng-deep .dx-datebox-popup {
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

/* Botones */
dx-button {
  margin-left: 10px;
}


dx-button[type='default'] {
  background-color: #007bff;
  color: #ffffff;
  border-radius: 5px;
}

dx-button[type='danger'] {
  background-color: #dc3545;
  color: #ffffff;
  border-radius: 5px;
}

dx-button[type='success'] {
  background-color: #28a745;
  color: #ffffff;
  border-radius: 5px;
}

dx-button:hover {
  opacity: 0.9;
}

/* DataGrid */
dx-data-grid {
  background-color: #ffffff;
  border: 1px solid #dee2e6;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dx-datagrid-header-panel {
  background-color: #007bff;
  color: white;
}

.dx-datagrid-rowsview .dx-row:hover {
  background-color: #f1f3f5;
}

.dx-datagrid-rowsview .dx-data-row {
  transition: background-color 0.3s;
}

.dx-datagrid-pager {
  margin-top: 40px;
}


/* Accordion */
::ng-deep .accordion-container {
  margin: 20px;
}


::ng-deep .dx-accordion  {
  padding: 10px;
  border: 1px solid #084c95;
  border-top: none;
  border-radius: 0 0 8px 8px;
  background-color: #f8f9fa;
  transition: background-color 0.3s ease;

}

::ng-deep .accordion-button {
  display: inline-block;
  margin: 2px;
  padding: 8px 16px;
  background-color: #18075c;
  color: rgb(143, 145, 241);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.accordion-button:hover {
  background-color: #31068d;
}


.panel {
  padding: 10px;
  border: 1px solid #ccc;
  border-top: none;
}

export-buttons-container {
  display: flex;
  gap: 10px; /* Espacio entre los botones */
  background-color: #31068d;

}

.submenu {
  margin-left: 20px;
  margin-top: 10px;


}
