/* Contenedor del sidebar */
.left-sidebar {
  position: fixed;
  top: 0;
  left: -250px; /* Sidebar oculto por defecto fuera de la pantalla */
  width: 250px; /* Ancho del sidebar cuando se despliega */
  height: 100%;
  background-color: #34495e; /* Color de fondo */
  transition: left 0.3s ease; /* Animación de desplazamiento para el sidebar */
  z-index: 999;
  overflow: hidden;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Centra los íconos del menú */
}

/* Botón para desplegar/ocultar el sidebar */

.sidebar-toggle {
  position: absolute;
  top: 10px; /* Ajusta la distancia desde la parte superior */
  left: 10px; /* Ajusta la distancia desde la parte izquierda */
  cursor: pointer;
  color: white;
  font-size: 24px; /* Reducido para hacerlo más discreto */
  padding: 5px;
  background-color: transparent;
  border: none;
  z-index: 1000;
  transition: all 0.3s ease;
}


/* Sidebar visible */
.left-sidebar.open {
  left: 0; /* Mueve el sidebar a la posición 0 cuando está visible */
}

/* Estilo de los enlaces del menú */
.sidebar-nav {
  list-style-type: none;
  padding-left: 0;
  padding-right: 0;
  margin-top: 70px; /* Ajuste para que el menú no se superponga al botón */
}

.sidebar-nav li a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px 20px; /* Espaciado más reducido */
  font-size: 14px; /* Tamaño de fuente más pequeño */
  border-radius: 6px;
  transition: all 0.3s ease;
  width: 100%;
  justify-content: flex-start; /* Alinea los elementos a la izquierda */
}

/* Efecto cuando se pasa el ratón */
.sidebar-nav li a:hover {
  background-color: #1abc9c;
  color: white; /* Color blanco al pasar el ratón */
}

/* Estilo para el ícono del menú */
.mdi-menu {
  font-size: 30px;
}

/* Cuando el sidebar está visible, los íconos cambian de tamaño y se alinean */
.left-sidebar.open .sidebar-nav li a i {
  margin-right: 10px;
  font-size: 20px; /* Tamanño del ícono más pequeño cuando el sidebar está expandido */
}

/* Estilo de la etiqueta de conteo */
.label-rouded {
  background-color: #2980b9;
  color: white;
  border-radius: 50%;
  padding: 5px 10px;
}

/* Clase cuando el sidebar está abierto */
.sidebar-open {
  margin-left: 250px;  /* Desplaza el contenido hacia la derecha */
}

