<div class="sidebar-container">
  <!-- Botón de menú  -->
  <button class="menu-toggle" (click)="toggleSidebar()">☰</button>

  <!-- Sidebar (desplegado o oculto) -->
  <div [class.sidebar-visible]="sidebarVisible" class="sidebar">
    <dx-menu
      [items]="menuItems"
      orientation="vertical"
      (onSelectionChanged)="onSelectionChanged($event)"
    >
      <dxi-item text="Inicio" icon="home"></dxi-item>
      <dxi-item text="Empresas" icon="business"></dxi-item>
      <dxi-item text="Empleados" icon="group"></dxi-item>
    </dx-menu>
  </div>

  <!-- Contenido principal (se ajusta al lado del sidebar cuando se despliega) -->
  <div class="main-content">
    <ng-content></ng-content>
  </div>
</div>
