.contact-container {
    display: flex;
    justify-content: space-evenly; /* Distribuir las secciones horizontalmente */
    align-items: flex-start;
    gap: 20px; /* Espacio entre secciones */
    padding: 20px;
    box-sizing: border-box;
    height: calc(100vh - 120px); /* Ajusta para header y footer */
    overflow-y: auto;
  }
  
  .middle-section {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar imagen y tarjeta */
    gap: 15px; /* Reducir separación entre imagen y tarjeta */
  }
  
  .contact-image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .company-card {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 10px;
    width: 300px; /* Ancho fijo para mantener consistencia con la imagen */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .company-card h3 {
    margin-bottom: 10px;
    text-align: center;
    color: #333;
  }
  
  .company-card p {
    margin: 4px 0;
    font-size: 14px;
  }
  
  .right-section {
    width: 35%; /* Ajustado para que el formulario no ocupe demasiado espacio */
  }
  
  .form-card {
    background-color: #ebf5fa;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .form-row {
    display: flex;
    justify-content: space-between;
    gap: 10px;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  
  label {
    font-size: 14px;
    margin-bottom: 5px;
    color: #555;
  }
  
  input,
  textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
    box-sizing: border-box;
  }
  
  textarea {
    resize: none;
  }
  
  .submit-button {
    align-self: center;
    padding: 10px 20px;
    background-color: #074d99;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .submit-button:hover {
    background-color: #0056b3;
  }
  