.contact-container {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
  height: calc(100vh - 120px);
  overflow-y: auto;
  font-family: "Roboto", sans-serif;
  background-color: #f7f9fc;
}

.middle-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.contact-image {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
}

.company-card {
  background: linear-gradient(145deg, #ffffff, #e6e6e6);
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  width: 270px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.company-card h3 {
  margin-bottom: 15px;
  color: #003366;
  font-size: 20px;
  font-weight: bold;
}

.company-card p {
  margin: 5px 0;
  font-size: 14px;
  color: #555;
}

.right-section {
  width: 30%;
}

.form-card {
  background: #cde6f1;
  border-radius: 15px;
  padding: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #053b71;
}

dx-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

dx-button {
  align-self: center;
  text-align: center;
  background-color: #5395f9 !important;
  color: #fff !important;
  border-radius: 5px !important;
  font-size: 14px !important;
  padding: 8px 18px !important;
  transition: background-color 0.3s ease !important;
}

dx-button:hover {
  background-color: #4e8be8 !important;
}

dx-textbox,
dx-textarea {
  border: 1px solid #ccc !important;
  border-radius: 5px !important;
  padding: 10px !important;
  font-size: 14px !important;
  transition: border 0.3s ease !important;
}

dx-textbox:focus,
dx-textarea:focus {
  border: 1px solid #0d6efd !important;
  outline: none !important;
}

dx-textarea {
  resize: none !important;
  height: 100px !important;
}

