<div class="contact-container">
    <!-- Imagen y tarjeta "Contáctanos" -->
    <div class="middle-section">
      <img src="assets/images/crm/s3.png" alt="Imagen de Contacto" class="contact-image" />
      <div class="company-card">
        <h3>Contáctanos</h3>
        <p><strong>Nombre:</strong> DataCRM Solutions</p>
        <p><strong>Teléfono:</strong> +123 456 7890</p>
        <p><strong>Email:</strong> infodatacrm.com</p>
      </div>
    </div>
  
    <!-- Formulario -->
    <div class="right-section">
      <div class="form-card">
        <h1>Contactar con DataCRM</h1>
          <dx-form
              [formData]="contactoForm.value"
              [colCount]="1"
              labelLocation="top"
              (ngSubmit)="onSubmit()"
          >
            <!-- Nombre -->
            <dxi-item
            dataField="Nombre"
            editorType="dxTextBox"
            [editorOptions]="{ placeholder: 'Nombre', maxLength: 30  }"
            ></dxi-item>

            <!-- Telefono -->
            <dxi-item
            dataField="Telefono"
            editorType="dxTextBox"
            [editorOptions]="{ placeholder: 'Telefono', maxLength: 10  }"
            ></dxi-item>

            <!-- Email -->
            <dxi-item
            dataField="Email"
            editorType="dxTextBox"
            [editorOptions]="{ mode: 'email', placeholder: 'Email' }"
            ></dxi-item>

            <!-- Mensaje -->
            <dxi-item
            dataField="Mensaje"
            editorType="dxTextBox"
            [editorOptions]="{ placeholder: 'Mensaje', maxLength: 100  }"
            ></dxi-item>

            <!-- Botón de contacto -->
            <dxi-item>
              <dx-button
                  text="Enviar"
                  icon="user"
                  type="success"
                  [useSubmitBehavior]="true"
                  (onClick)="onSubmit()"
             ></dx-button>
            </dxi-item>
          </dx-form>
        </div>
  </div>
</div>
  