/* Tema Oscuro*/
body {
    background-color: #3f3e3e;
    color: #e0e0e0;
  }
  
  header, footer, aside.left-sidebar {
    background-color: #504e4e!important;
    color: #fff!important;
  }
  
  .page-wrapper {
    background-color: #474343;
  }
  
  button, a {
    color: #00bcd4;
  }
/* Tema Oscuro - Estilos para la pantalla de contacto */
.contact-container {
  background-color:  #474343!important; /* Fondo negro */
  color: #e0e0e0; /* Texto claro */
}

.middle-section .company-card {
  background:  #c5c1c1!important; /* Fondo oscuro para la tarjeta */
  color: #e4e2e2; /* Texto claro */
  border: 1px solid #656161; /* Bordes oscuros */
}

.middle-section .contact-image {
  box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.1); /* Ajustar sombra en modo oscuro */
}

.right-section .form-card {
  background: #b8b5b5; /* Fondo oscuro para el formulario */
  color: #e0e0e0; /* Texto claro */
  border: 1px solid #333; /* Bordes oscuros */
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1); /* Sombra suave */
}

dx-textbox, dx-textarea {
  background-color: #474343; /* Fondo oscuro para los campos de texto */
  color: #e0e0e0; /* Texto claro */
  border: 1px solid #555; /* Bordes más oscuros */
}
.datagrid-container {
  background-color: #474343!important;
  border: 1px solid #333; /* Bordes oscuros */
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1); /* Sombra suave */

}
.button-wrapper {
  background-color: #5d5d5d!important;
  border: 1px solid #333; /* Bordes oscuros */
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1); /* Sombra suave */

}
  
